.projectscard{
   
    padding-top: 70px;
    min-height: 100dvh;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

:root {
  --transition-time: 2.3s;
}
.conw{

    background-color: var(--darkcolor);
    color: white;

}
body {
  font-family: 'Oswald', sans-serif;

}


  

  
 
  
 