.header{
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav{
    background-color: var( --darkcolor);

}

.nav-item .nav-link:hover{
    color: white;
}
.logo {
    max-width: 120px;

}
.main{
    margin: 20px 70px;

}

    

.navbar-nav .nav-link{
    color: var(--maincolor);
    font-size:20px;
   
    
}

.navbar-black {
    background-color: #311E25;
  }
  @media (min-width: 992px) {
    .order-lg-1 {
      order: 1 !important;
      margin-left: 50px;
    }
  }