:root{
  --maincolor: #db9a64;
  --lightcolor: #3B2930;
  --darkcolor:#311E25;
}
body{
height: fit-content;
color: white;


}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
